:root
{
  --bg-color: rgb(9, 161, 211);
  --font: 'Poppins', sans-serif;
}
body{
  font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Teko', sans-serif;
}

.label1
{
  font-size: 1.2rem;
  padding:10px;
  font-family: Arial, Helvetica, sans-serif;
}